/* ShoppingCart.css */

.shopping-cart {
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin: 20px auto;
  max-width: 600px;
}

.shopping-cart h2 {
  color: #a98cb0;
  font-size: 2rem;
  margin-bottom: 20px;
  text-align: center;
}

.product-card {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 8px;
  margin-bottom: 15px;
  padding: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.product-card img {
  width: 50px;
  height: 50px;
  margin-right: 10px;
}

.product-info {
  flex: 1;
}

.product-info h3 {
  margin: 0;
  font-size: 1.2rem;
}

.product-info p {
  margin: 0;
  color: #666;
}

.product-price {
  font-weight: bold;
  font-size: 1.2rem;
}

.quantity {
  color: #666;
}

.total-section {
  margin-top: 20px;
  text-align: center;
}

.total-section h3 {
  margin: 10px 0;
  color: #333;
}

button {
  display: block;
  margin: 20px auto;
  padding: 10px 20px;
  font-size: 1rem;
  background-color: #a98cb0;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #a98cb0;
}
